<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.weixin"
    version="0.1.0">

    <name>Phonegap weixin plugin</name>
        <description>Phonegap weixin plugin</description>
        <license>Apache 2.0</license>
        <keywords>Phonegap weixin</keywords>
        <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/weixin.js" name="weixin">
      <merges target="navigator.weixin" />
    </js-module>


  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="WeiXin">
        <param name="ios-package" value="WeiXin"/>
      </feature>
    </config-file>

    <source-file src="ios/libWeChatSDK.a" framework="true" />
    <header-file src="ios/WXApiObject.h" />
    <header-file src="ios/WXApi.h" />
    <header-file src="ios/WeiXin.h" />
    <source-file src="ios/WeiXin.m" />
  </platform>

   <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WeiXin">
                <param name="android-package" value="com.phonegap.plugins.weixin.WeiXin"/>
            </feature>
        </config-file>

        <source-file src="android/src/com/phonegap/plugins/weixin/WeiXin.java" target-dir="src/com/phonegap/plugins/weixin" />
        <source-file src="android/src/com/phonegap/plugins/weixin/Util.java" target-dir="src/com/phonegap/plugins/weixin" />

        <source-file src="android/libs/libammsdk.jar" target-dir="libs" />
    </platform>
</plugin>
